## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/

## VS
.vs/
*.rsuser
*.userprefs

## SQLite
*.db
*.db-shm
*.db-wal

## OS
Thumbs.db
.DS_Store
